<div class="login_form">
  <form [formGroup]="registerForm" (ngSubmit)="signIn(registerForm.value)" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email/Phone</mat-label>
      <input matInput type="email" formControlName="emailOrPhone" required>
      <mat-error>
        <span *ngIf="registerForm.get('emailOrPhone').invalid && registerForm.get('emailOrPhone').dirty">
          Please enter a valid Email Address/Phone number.
        </span>
      </mat-error>
      <mat-error>
        <span *ngIf="registerForm.get('emailOrPhone').pristine">
          Email/Phone is <strong>required</strong>
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error>
        <span *ngIf="registerForm.get('password').invalid && registerForm.get('password').dirty">
          Password should be at least 6 characters.
        </span>
      </mat-error>
      <mat-error *ngIf="registerForm.get('password').pristine">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button [disabled]="registerForm.invalid || !!loginService.confirmationResult" mat-raised-button color="primary">Log In
      <i *ngIf="loginService.isSignedLoading && !loginService.confirmationResult" class="fa fa-spinner fa-spin" style="font-size:20px"></i>
    </button>
    <div class="forgot_password_section">
      <a title="Please Contact Us" (click)="navigateToContact()">Forgot Password?</a>
    </div>
  </form>
</div>