.login_form {
  text-align: center;
  width: 45%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
}

.mat-form-field {
  margin-bottom: 13px;
}
.mat-raised-button {
  background-color: crimson;
  color: #ffffff;
  outline: 0px !important;
}

.forgot_password_section {
  margin-top: 8px;
}
.forgot_password_section > a {
  color: crimson;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 425px) {
  .login_form {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
}
