.glyphicon {
  float: right !important;
  top: -29px !important;
  right: 5px !important;
}
.alert {
  position: relative !important;
}
.asterisk_mark {
  color: red;
  position: relative !important;
  float: right;
  top: 8px !important;
}
label {
  display: inline-block;
  margin-bottom: 0rem !important;
  color: black;
}
input,
textarea {
  border-color: rgb(151, 116, 116);
}
input.ng-valid,
textarea.ng-valid {
  border-color: green;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-color: red;
}
