.marquee_adjustment_top_header {
  font-weight: bold;
  margin-top: 7px;
}
.contact_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 39px;
}
.icon-facebook,
.icon-instagram,
.icon-whatsapp,
.customer_support {
  color: white;
  font-weight: bold;
}
.contact_section .icon-facebook:hover{
    color: rgb(110, 110, 255);
}
.contact_section .icon-instagram:hover{
    color: rgb(255, 138, 157)
}
.contact_section .icon-whatsapp:hover{
    color: rgb(65, 255, 65);
}

.contact_section .top_header_logo > a{
    margin-right: 0.7375em;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .contact_section{
        flex-direction: column;
    }
}