<div class="row">
  <div class="col-md-8">
    <div class="scroll_left_top_header">
      <p> Enjoy Free Shipping Nationwide on order above PK Rs 2000 | 7 Days Exchange Policy</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="contact_section_top_header">
      <div class="top_header_logo">
        <a href="https://web.facebook.com/UHleathercollection" target="_blank"><span class="icon-facebook"></span></a>
        <a href="https://www.instagram.com/leathercollectionfactory/" target="_blank"><span
            class="icon-instagram"></span></a>
        <a href="https://www.whatsapp.com/" target="_blank"><span class="icon-whatsapp"></span></a>
      </div>
      <div class="customer_support">
        <span>Customer Support: 0345-1231231</span>
      </div>
    </div>
  </div>
</div>