.h2 {
  margin-top: 14px !important;
}
.footer_social_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.footer_social_links a {
  width: 38px;
  height: 37px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  border: 2px solid crimson;
  border-radius: 50%;
  transition: all 1s ease;
}

.footer_social_links a:hover {
  background-color: crimson;
  border: 2px solid #fff;
  transition: all 0.5s linear;
}

.footer_social_links a:hover .icon-facebook {
  color: rgb(33, 33, 247);
  transition: all 1s ease;
}

.footer_social_links a:hover .icon-instagram {
  color: rgb(255, 167, 182);
  transition: all 1s ease;
}
.footer_social_links a:hover .icon-whatsapp {
  color: rgb(65, 255, 65);
  transition: all 1s ease;
}

.footer_rights {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer_rights .payment_methods img {
  margin: 12px;
}

@media (max-width: 767px) {
  .footer_rights {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.arrow_top{
  position: fixed;
  bottom: 30px;
  right: 48px;
  cursor: pointer;
  display: none;
}
.arrow_top span i {
  font-size: 50px;
  color: crimson;
}

.whatsapp_chat{
  position: fixed;
  bottom: 30px;
  left: 48px;
  cursor: pointer;
  z-index: 100;
}

.whatsapp_chat .icon-whatsapp{
  font-size: 50px;
  color: #0bc80b;
  width: 48px;
  display: inline-block;
}
.whatsapp_chat a .chat_text {
  opacity: 0;
  transform: translateX(-90px);
}
.whatsapp_chat:hover a .chat_text{
  font-weight: 500;
  display:block;
  width: 91px;
  opacity: 1;
  transform: translateX(0);
  transition: all 1s linear;
}
