<div class="quick-contact-info">
  <div class="container">
    <div class="row">
      <div class=" col-lg-3 col-md-6 col-12 text-center">
        <div class="news_letter">
          <span class="text-white h2 d-block"><i class="fa fa-envelope-square"></i></span>
          <h5>Receive Special Offers and Promotions</h5>
          <form action="">
            <div class="form_field">
              <input type="text" placeholder="example@gmail.com">
              <button type="submit"><span><i class="fa fa-paper-plane"></i></span></button>
            </div>
          </form>
        </div>
      </div>
      <div class=" col-lg-3 col-md-6 col-12 text-center">
        <div>
          <a href="https://maps.google.com/maps?q=31.111494064331055%2C74.45252227783203&z=17&hl=en" target="_blank">
            <span style="color: #f23a2e;" class="icon-room h2 d-block"> </span>
          </a>
          <h2>Location</h2>
          <p class="mb-0">
            Pakistan<br />
            <!-- Kasur, Deen Ghar
            <br> -->
            Leather Market
          </p>
        </div>
      </div>
      <div class=" col-lg-3 col-md-6 col-12 text-center">
        <div>
          <span class="icon-clock-o text-white h2 d-block"></span>
          <h2>Service Times</h2>
          <p class="mb-0">
            Monday to Thursday 24/7 <br />
            Fridays at 8:30AM - 11:59PM <br />
            Saturdays at Sunrise - 11:59PM
          </p>
        </div>
      </div>
      <div class=" col-lg-3 col-md-6 col-12 text-center">
        <div>
          <span class="icon-comments text-white h2 d-block"></span>
          <h2>Get In Touch</h2>
          <p class="mb-0">
            Email: Example@gmail.com <br />
            Phone: 0345-1234567
          </p>
        </div>
        <div class="footer_social_links">
          <a href="https://web.facebook.com" target="_blank"><span class="icon-facebook"></span></a>
          <a href="https://www.instagram.com" target="_blank"><span class="icon-instagram"></span></a>
          <a href="https://www.whatsapp.com/" target="_blank"><span class="icon-whatsapp"></span></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-white">
        <div class="footer_rights">
          <p>&copy; SF Leathers 2020-2021 - All Rights Reserved.</p>
          <div class="payment_methods">
            <img src="../../assets/images/cash-on-delivery.PNG" title="Available" width="45px" height="auto"
              data-toggle="tooltip" alt="No Image Found">
            <img src="../../assets/images/visa.png" width="45px" title="Coming Soon" height="auto" data-toggle="tooltip"
              alt="No Image Found">
            <img src="../../assets/images/master-card.PNG" width="45px" title="Coming Soon" height="auto"
              data-toggle="tooltip" alt="No Image Found">
            <img src="../../assets/images/bitcoin.png" width="45px" title="Coming Soon" height="auto"
              data-toggle="tooltip" alt="No Image Found">
          </div>
        </div>
      </div>
    </div>
    <div class="whatsapp_chat">
      <a href="https://www.whatsapp.com/" target="_blank"><span class="icon-whatsapp">
      </span></a>
    </div>
    <div id="arrowTop" class="arrow_top">
      <span><i class="fa fa-arrow-circle-up" (click)="scrollToTop()"></i></span>
    </div>
  </div>
</div>