<div class="header">
  <app-header></app-header>
</div>
<div class="container-fluid">
  <!-- <div class="row"> -->
  <!-- Blog Entries Column -->
  <!-- <div class="col-md-12"> -->
  <div class="font" *ngIf="Post$ as post else postLoading">
    <div class="row">
      <div class="col-md-12">
        <p class="page-header">
          <!-- <marquee behavior="alternate" scrollamount="4"> -->
          Premium Quality Leather Products in Pakistan
          <small>(SF Leathers) </small>
          <!-- </marquee> -->
        </p>
        <div class="product_details_title_section">
          <h2>{{ post.post_title }}</h2>
          <h3 *ngIf="post.post_actual_price">
            Actual Price Rs
            <del>{{ post.post_actual_price }}</del>
          </h3>
          <h3 style="display: inline-block;">
            Price Rs
            {{ post.post_tags }}
          </h3>
          <img *ngIf="post.post_actual_price" src="../../../assets/images/offer.png" width="62px">
          <h4 style="font-family: cursive;">
            Category
            {{ post.post_category }}
          </h4>
          <p style="font-weight: bold; color: black">
            <span class="fa fa-clock-o"></span>
            {{ post.picker | date: "dd/MM/yyyy" }}
          </p>
          <hr style="margin-bottom: 0px;" />
        </div>
        <!-- <marquee width="100%" behavior="scroll">
          <img style="border-radius: 20px;" *ngIf="post.post_status==false"
            src="https://media.giphy.com/media/ftSsFBJqT84nvE5YUh/giphy.gif" width="110px" height="auto">
        </marquee> -->
        <div class="sold_out_section" *ngIf="post.post_status==false">
          <img class="sold_out_image" src="https://media.giphy.com/media/ftSsFBJqT84nvE5YUh/giphy.gif" width="110px"
            height="auto">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="carousel_column">
        <div class="col-md-7">
          <div id="demo" class="carousel slide image_height" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="carousel_image_height" [src]="post.image1" alt="Los Angeles" width="auto"/>
                <div class="carousel-caption">
                  <h3><img class="sf_logo_product_details" src="../../../assets/images/SF-Leathers.png" width="50px"
                      height="45px">
                  </h3>
                  <p style="color: black; opacity: 0.5;">SF Leathers</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="carousel_image_height" [src]="post.image2" alt="Chicago" width="auto" />
                <div class="carousel-caption">
                  <h3><img class="sf_logo_product_details" src="../../../assets/images/SF-Leathers.png" width="50px"
                      height="45px">
                  </h3>
                  <p style="color: black; opacity: 0.5;">SF Leathers</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="carousel_image_height" [src]="post.image3" alt="New York" width="auto" />
                <div class="carousel-caption">
                  <h3><img class="sf_logo_product_details" src="../../../assets/images/SF-Leathers.png" width="50px"
                      height="45px">
                  </h3>
                  <p style="color: black; opacity: 0.5;">SF Leathers</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="carousel_image_height" [src]="post.image4" alt="New York" width="auto" />
                <div class="carousel-caption">
                  <h3><img class="sf_logo_product_details" src="../../../assets/images/SF-Leathers.png" width="50px"
                      height="45px">
                  </h3>
                  <p style="color: black; opacity: 0.5;">SF Leathers</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
        <div class="col-md-5">
          <div class="room-description">
            <div class="product_sku_discount_section">
              <h6>
                SKU: {{ post.post_address }}
              </h6>
              <h6>
                Discount %
              </h6>
            </div>
            <h3 class="description_heading">
              Description
            </h3>
            <div class="description-content" [innerText]="post.post_content">
            </div>
            <a *ngIf="post.post_status==true" style="font-size: 21px;" class="btn" [routerLink]="['/booking', post.$key]">Buy Now <span
                class="fa fa-shopping-cart"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #postLoading>
    <div class="text-center room_no_data_found ">
      <span><img src="../../../assets/images/loading_dots.gif" width="30%" style="min-width: 200px;"></span>
    </div>
    <div class="text-center">
      <img class="room_no_data_found" src="../../../assets/images/no-data-found.jpg" width="30%" height="auto">
      <h3>Oops!</h3>
      <h5>Data Loading...</h5>
    </div>
  </ng-template>
  <!-- </div>
  </div> -->
  <br />
  <!-- Comment -->
  <!-- <div class="row">
    <div class="col-md-7 mb-4"> -->
  <app-comments *ngIf="Post$ as post"></app-comments>
  <!-- </div>
  </div> -->
  <div *ngIf="filteredPostsByCategory.length" class="row mb-4">
    <div class="col-md-12">
      <h3 class="related_products">Related Products</h3>
      
      <div class="related_inner_section">
        <!-- <a class="btn prev">Previous</a> -->
        <span class="icon-arrow_back prev"></span>
        <div id="slider" class="nonloop-block-15 owl-carousel">
          <ng-container *ngFor="let relatedPost of filteredPostsByCategory">
            <div class="media-with-text">
              <div class="img-border-sm">
                <button class="button_image_related" (click)="relatedPostDetails(relatedPost.$key)" title="Click Me">
                  <img class="img-fluid" class="owl_carousel_image" [src]="relatedPost.image1"
                    alt="Image Not Found.">
                </button>
              </div>
              <span *ngIf="relatedPost.post_special_price else onlyActualPrice">
                <h5 style="display: inline;"><span style="color: crimson;">Was </span><del>{{ 'Rs ' +
                    relatedPost.post_actual_price}}</del></h5>
                <h5 style="display: inline;"><span style="color: darkgreen;">Now </span> Rs
                  {{relatedPost.post_special_price}}</h5>
              </span>
              <ng-template #onlyActualPrice>
                <h5 style="display: inline;">{{ 'Rs ' + relatedPost.post_actual_price}}</h5>
              </ng-template>
            </div>
          </ng-container>
          <!-- <h2 *ngIf="!filteredPostsByCategory.length">
          No Related Data Found.
          </h2> -->
        </div>
        <!-- <a class="btn next">Next</a> -->
        <span class="icon-arrow_forward next"></span>
      </div>
    </div>
  </div>
</div>