:host ::ng-deep .site-navbar-wrap {
  background-color: rgb(151, 116, 116) !important;
  margin-top: 32px;
  padding: 6px 0px;
}

.gallery_heading h2 {
  color: crimson;
  font-family: "Playfair Display";
  font-size: xxx-large;
  display: inline-block;
}

.gallery_category_section .gallery_category_dropdown {
  text-align: end;
  max-width: 45% !important;
}

.gallery_category_section .gallery_filtered_result {
  margin: 15px 0px 0px 25px;
}

.clear_all_result {
  color: crimson;
  font-size: 12px;
  margin-left: 15px;
  cursor: pointer;
}
.gallery_image:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.gallery_image:hover img {
  opacity: 0.5;
}
.gallery_image:hover a::before {
  content: " \27A0";
  color: crimson;
  width: 70px;
  height: 60px;
  line-height: 54px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s linear;
}
.images > .col-md-4 {
  height: 321px;
  border: 1px solid crimson;
  border-radius: 2px;
  padding: 7px;
  box-sizing: border-box;
  /* transition: transform 3s; */
  display: inline-block;
  flex: 0 0 32.33333%;
  max-width: 32.33333%;
  text-align: center;
  background: linear-gradient(45deg, #eaeaea, transparent);
}
/* .images > .col-md-4:hover {
  transform: scale(1.5);
  z-index: 1;
} */
a > img {
  max-width: 100%;
  height: 305px;
}
/* a > img:hover {
  transform: rotateY(180deg);
} */
.pagination {
  /* font-family: "Times New Roman", Times, serif; */
  font-weight: bold;
  font-size: 20px;
}
/* a[title]{
   cursor: none !important;
   transform: scale(1.5) !important;
} */

@media (max-width: 767px) {
  .gallery_heading h2 {
    margin-top: 3.7em !important;
    font-size: 40px;
  }
  .gallery_category_section .gallery_category_dropdown {
    order: 1;
    text-align: center;
    max-width: 100% !important;
  }
  .gallery_category_section .gallery_filtered {
    order: 2;
  }
  /* .images > .col-md-4:hover {
    transform: scale(1.2);
    z-index: 1;
  } */
  .images > .col-md-4 {
    flex: 0 0 99.33333%;
    max-width: 99.33333%;
    height: 321px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .images > .col-md-4 {
    min-width: 49% !important;
    height: 321px;
  }
}
@media (min-width: 768px) {
  .gallery_heading h2 {
    margin-top: 128px;
  }
}
@media (max-width: 303px) {
  .gallery_heading h2 {
    margin-top: 3.7em;
  }
}
