.header {
  width: 100%;
  height: 100px;
  background-color: rgb(151, 116, 116);
}
.gallery_heading {
  color: crimson;
  font-family: "Playfair Display";
  font-size: xxx-large;
}
.images > .col-md-4 {
  height: 321px;
  border: 1px solid crimson;
  border-radius: 5px;
  padding: 7px;
  box-sizing: border-box;
  /* transition: transform 3s; */
  display: inline-block;
  flex: 0 0 32.33333%;
  max-width: 32.33333%;
  text-align: center;
}
/* .images > .col-md-4:hover {
  transform: scale(1.5);
  z-index: 1;
} */
a > img {
  max-width: 100%;
  height: 305px;
}
/* a > img:hover {
  transform: rotateY(180deg);
} */
.pagination {
  /* font-family: "Times New Roman", Times, serif; */
  font-weight: bold;
  font-size: 20px;
}
/* a[title]{
   cursor: none !important;
   transform: scale(1.5) !important;
} */
@media (max-width: 767px) {
  .mt-4 {
    margin-top: 3.7em !important;
  }
  /* .images > .col-md-4:hover {
    transform: scale(1.2);
    z-index: 1;
  } */
  .images > .col-md-4 {
    flex: 0 0 99.33333%;
    max-width: 99.33333%;
    height: 321px;
  }
  .header {
    height: 0px;
  }
  .gallery_heading {
    font-size: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .images > .col-md-4 {
    min-width: 49% !important;
    height: 321px;
  }
}
@media (max-width: 303px) {
  .mt-4 {
    margin-top: 3.7em !important;
  }
}
