<div class="site-navbar-wrap js-site-navbar bg-white">
  <div class="container">
    <div class="row">
       <div class="col-md-12 col-lg-12 col-12">
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" routerLink="/" RouterLinkActive="Active">
        <h2 
          class="sf_logo_tab">
          SF Leathers
        </h2>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links -->
      <div class="collapse navbar-collapse pt-1" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" *ngFor="let category of Categories$ | async" routerLink="/Products"
                routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
              true}" [queryParams]="{Category: category.$key}">
                {{category.name}}
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gallery/1" routerLinkActive="Active">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="Active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="Active">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reviews" routerLinkActive="Active">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="Active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="Active">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
    </div>
  </div>
</div>