
.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial !important;
}

.owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}
