<div class="bg_color">
<div class="container">
  <div class="row upcoming_section">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="upComing_product_heading">
        <h2>
          UpComing Products
        </h2>
      </div>
      <div class="swiper-container" [swiper]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../../assets/images/jacket_1.jpg" alt="Image Not Found">
          </div>
          <div class="swiper-slide">
            <img src="../../assets/images/jacket_2.jpg" alt="Image Not Found">
          </div>
          <div class="swiper-slide">
            <img src="../../assets/images/jacket_3.jpg" alt="Image Not Found">
          </div>
          <div class="swiper-slide">
            <img src="../../assets/images/ladies_bag_1.jpg" alt="Image Not Found">
          </div>
          <div class="swiper-slide">
            <img src="../../assets/images/ladies_bag_2.jpg" alt="Image Not Found">
          </div>
          <div class="swiper-slide">
            <img src="../../assets/images/ladies_bag_3.jpg" alt="Image Not Found">
          </div>
          <div class="swiper-slide">
            <img src="../../assets/images/ladies_bag_4.jpg" alt="Image Not Found">
          </div>
          <div class="swiper-slide">
            <img src="../../assets/images/lagguge_1.jpg" alt="Image Not Found">
          </div>
          <div class="swiper-slide">
            <img src="../../assets/images/lagguge_2.jpg" alt="Image Not Found">
          </div>
        </div>
        <!-- <div class="swiper-scrollbar"></div> -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>
</div>