<div>
  <span><img *ngIf="!isRecaptchaContainerId" src="../../../assets/images/loading_dots.gif" width="15%"
      style="min-width: 100px;"></span>
</div>
<div id="recaptcha-container-login"></div>

<div *ngIf="this.authService.confirmationResult">
  <mat-form-field class="example-full-width">
    <mat-label>Enter OTP Code</mat-label>
    <input matInput type="text" name="code" [(ngModel)]="verificationCode" required>
    <mat-error>
      OTP Code is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button type="button" [disabled]="!verificationCode" mat-raised-button (click)="verifyOtpCode()">Verify</button>
</div>
<!-- <div *ngIf="user">
  You have successfully logged in with your phone number!

  UserId: {{ user?.uid }}

</div> -->