
.site-section {
  padding: 1em 0 !important;
}

/* .sf_logo{
  position: absolute;
  top: 228px;
  left: 7px;
  z-index: 1;
} */


.money_back_guarantee, .free_delivery, .service, .discount {
  border: 1px solid #eee;
  padding: 3px;
  width: 100%;
  height: auto;
  margin-top: 5px;
}

input[type=text] {
  width: 70%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-radius: 24px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  background-color: white;
  background-image: url('../../../../assets/images/search-interface-symbol.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 10px 20px 10px 40px;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
  outline: none !important;
  border: 2px solid black;
}

.mat-form-field {
  width: 75%;
}

/* .active-link button {
  color: red !important;
  border: 1px solid red !important;
} */


.discount_logo{
  position: absolute;
  top: 5px;
  left: 21px;
  z-index: 1;
  background-color: crimson;
  border-radius: 3%;
  font-size: 17px;
  width: 46px;
  height: 30px;
  text-align: center;
}

.facebook_logo{
    position: absolute;
    top: 26px;
    left: 21px;
    z-index: 1;
}

/* .catlink {
  color: #f23a2e;
  text-decoration: none;
  background-color: transparent;
} */

.col-3 {
  margin-left: 120px;
  display: inline;
}

.search_result{
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.search_text{
  background-color: #ddd;
    border: none;
    color: crimson;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.clear_all_result{
  color: crimson;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 12px;
    cursor: pointer;
}

.pagination {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
}


.thumbnail{
  background-color: white !important;
  border: 1px solid lightgray !important;
  height: 250px !important;
  /* border-radius: 5px !important; */
}

.hotel-room > .thumbnail img {
  transition: .8s all ease !important;
}

.card_main_image{
  transform: translateZ(10px) !important;
}

.card_main_image:hover{
  transform: scale(1.2) !important;
}

.post_category{
  font-family: Playfair Display;
  display: inline-block;
  word-break: break-word;
  width: 30%;
}
.special_offer{
  position: absolute; 
  margin-left: 40px; 
  margin-top: 3px;
}

/* 
.hotel-room:hover {
  border: 3px solid #977474;
} */


/* .ngx-pagination .current {
 border-radius: 15px !important;
} */

/* Darker background on mouse-over */
/* .btn:hover {
    background-color: lightcoral;
  } */

  @media (max-width:767px){
    .res_screen{
      width: 100%;
      margin-bottom: 10px;
    }
    .room_no_data_found{
      width: 70%;
    }
    .site-section {
      padding: 1em 0 !important;
    }
    .post_category{
      display: inline-block;
      word-break: break-word;
      width: 35%;
    }
    .money_back_guarantee{
      margin-top: 28px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px){
    .res_screen{
      width: 48%;
      margin-bottom: 10px;
    }
     .main_services > .col-md-2 {
      flex: 0 0 33% ;
      max-width: 33% ;
    }
  } 
