 
  <router-outlet></router-outlet>
  
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> -->
  <div #mainModel class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="display: inline !important;" class="modal-title" id="exampleModalLongTitle">SF Leathers</h5>
          <img class="sf_logo_main_pop_up" src="../assets/images/SF-Leathers.png" width="9%" height="auto">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <div class="modal-body">
          We're glad to see you. You will get a savings of Rs. 50 on each product. You can compare prices with our
          Facebook and Instagram pages. We are supplying our products all over Pakistan through Cash on Delivery. Our
          service is available 24/7.
          You can contact us at any time. <a style="color: blue; text-decoration: underline;" routerLink="/contact"
            routerLinkActive="active">Contact Us</a>
        </div> -->
        <div class="modal-body">
         Welcome! We hope you will love our products.
          <a style="color: blue; text-decoration: underline;" routerLink="/contact"
            routerLinkActive="active">Contact Us</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

