.review_section {
  background: repeating-linear-gradient(
    90deg,
    #870000,
    #ffc9a3 33%,
    #f3cd8b,
    #960909
  );
  height: 100vh;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-heading h2 {
  margin-top: 15px;
}
:host ::ng-deep .site-navbar-wrap {
  background-color: rgb(151, 116, 116) !important;
  margin-top: 32px;
  padding: 6px 0px;
}
.item {
  text-align: center;
}
.item img {
  margin: 0 auto;
  width: 120px;
  height: 118px;
  border-radius: 50%;
}
.prev {
  cursor: pointer;
  position: relative;
  top: 206px;
  left: -45px;
  color: black;
  font-size: larger;
}
.next {
  cursor: pointer;
  float: right;
  position: relative;
  top: -365px;
  right: -40px;
  color: black;
  font-size: larger;
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-heading h2 {
    margin-top: 115px !important;
    font-size: 35px;
  }
  .prev {
    top: 206px;
    left: -9px;
  }
  .next {
    top: -365px;
    right: 3px;
  }
}
@media (max-width: 303px) {
  .section-heading h2 {
    margin-top: 120px !important;
  }
}
@media (max-width: 767px) {
  .review_no_data_found {
    width: 70%;
  }
}
