<div class="login_form">
  <form [formGroup]="registerForm" (ngSubmit)="signUp(registerForm.value)" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="firstName" required>
      <mat-error>
        <span *ngIf="registerForm.get('firstName').invalid && registerForm.get('firstName').dirty">
          Please enter at least 3 letters.
        </span>
      </mat-error>
      <mat-error>
        <span *ngIf="registerForm.get('firstName').pristine">
          First Name is <strong>required</strong>
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" formControlName="lastName" required>
      <mat-error>
        <span *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').dirty">
          Please enter at least 3 letters.
        </span>
      </mat-error>
      <mat-error>
        <span *ngIf="registerForm.get('lastName').pristine">
          Last Name is <strong>required</strong>
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email/Phone</mat-label>
      <input matInput type="email" formControlName="emailOrPhone" required>
      <mat-error>
        <span *ngIf="registerForm.get('emailOrPhone').invalid && registerForm.get('emailOrPhone').dirty">
          Please enter a valid Email Address/Phone number.
        </span>
      </mat-error>
      <mat-error>
        <span *ngIf="registerForm.get('emailOrPhone').pristine">
          Email/Phone is <strong>required</strong>
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error>
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- <div>
      <span><img *ngIf="!isRecaptchaContainerId" src="../../../assets/images/loading_dots.gif" width="15%"
          style="min-width: 100px;"></span>
    </div>
    <div id="recaptcha-container"></div> -->

    <button class="signUp_button" type="submit" [disabled]="registerForm.invalid" mat-raised-button color="primary">Sign
      Up
      <i *ngIf="loginService.isSignedLoading" class="fa fa-spinner fa-spin" style="font-size:20px"></i>
    </button>
  </form>
</div>