.site-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.top_header {
  position: fixed;
  background-color: crimson;
  width: 100%;
  color: white;
  z-index: 100;
  height: auto;
}
.site-wrap footer {
  margin-top: auto;
}
.sf_logo_main_pop_up {
  margin: 0 auto;
  width: 50px;
  height: 45px;
}
