/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~swiper/dist/css/swiper.min.css'; */
@import "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css";

body {
  font-family: "Playfair Display", Times, serif;
  color: black !important;
  padding-right: 0px !important;
}
.site-navbar-wrap.scrolled {
  background: rgb(151, 116, 116) !important;
  height: auto;
  margin-top: 38px;
}
.site-navbar-wrap {
  margin-top: 38px;
}

* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: crimson #f1f1f1; /* scroll thumb and track */
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* ::-webkit-scrollbar:hover {
    width: 7px;
  } */
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: crimson;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(240, 53, 90);
}
