/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~swiper/dist/css/swiper.min.css'; */
@import "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css";

body {
  font-family: 'Playfair Display', Times, serif;
  color: black !important;
  padding-right: 0px !important;
}
.site-navbar-wrap.scrolled {
  background: rgb(151, 116, 116) !important;
  height: auto;
  margin-top: 38px;
}
.site-navbar-wrap {
  margin-top: 38px;
}


